# Build products
target/

# IntelliJ data
*.iml
.idea/
.ipr

# Documentation build output
/docs/_build

.DS_Store

# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Eclipse Setting
.settings

# Log file from schema registry daemon
logs/
nohup.out
/.bloop/bloop.settings.json
/.bloop/client-console-scripts.json
/.bloop/client-console-scripts-test.json
/.bloop/kafka-avro-serializer.json
/.bloop/kafka-avro-serializer-test.json
/.bloop/kafka-connect-avro-converter.json
/.bloop/kafka-connect-avro-converter-test.json
/.bloop/kafka-connect-avro-data.json
/.bloop/kafka-connect-avro-data-test.json
/.bloop/kafka-connect-json-schema-converter.json
/.bloop/kafka-connect-json-schema-converter-test.json
/.bloop/kafka-connect-protobuf-converter.json
/.bloop/kafka-connect-protobuf-converter-test.json
/.bloop/kafka-json-schema-provider.json
/.bloop/kafka-json-schema-provider-test.json
/.bloop/kafka-json-schema-serializer.json
/.bloop/kafka-json-schema-serializer-test.json
/.bloop/kafka-json-serializer.json
/.bloop/kafka-json-serializer-test.json
/.bloop/kafka-protobuf-provider.json
/.bloop/kafka-protobuf-provider-test.json
/.bloop/kafka-protobuf-serializer.json
/.bloop/kafka-protobuf-serializer-test.json
/.bloop/kafka-schema-registry.json
/.bloop/kafka-schema-registry-benchmark.json
/.bloop/kafka-schema-registry-benchmark-test.json
/.bloop/kafka-schema-registry-client.json
/.bloop/kafka-schema-registry-client-test.json
/.bloop/kafka-schema-registry-maven-plugin.json
/.bloop/kafka-schema-registry-maven-plugin-test.json
/.bloop/kafka-schema-registry-package.json
/.bloop/kafka-schema-registry-package-test.json
/.bloop/kafka-schema-registry-parent.json
/.bloop/kafka-schema-registry-parent-test.json
/.bloop/kafka-schema-registry-test.json
/.bloop/kafka-schema-serializer.json
/.bloop/kafka-schema-serializer-test.json
/.bloop/kafka-serde-tools-package.json
/.bloop/kafka-serde-tools-package-test.json
/.bloop/kafka-streams-avro-serde.json
/.bloop/kafka-streams-avro-serde-test.json
/.bloop/kafka-streams-json-schema-serde.json
/.bloop/kafka-streams-json-schema-serde-test.json
/.bloop/kafka-streams-protobuf-serde.json
/.bloop/kafka-streams-protobuf-serde-test.json
/.bloop/schema-registry-console-scripts.json
/.bloop/schema-registry-console-scripts-test.json
/.metals/metals.log
/.metals/metals.mv.db
